nav.nav-bar {
    background-color: #3b3b3b;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 30px;
    top: 0;
    width: auto;
    z-index: 1;
    border-bottom: #7a7a7a solid 5px;
}