.root-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Ensure layout covers the whole viewport */
}

#root {
    justify-content: center;
}

.content-container {
    flex-grow: 1; /* Allow main content to grow and fill available space */
    justify-content: center;
    width: 100%;
}